
#resTable{
	display: grid;
	grid-template-columns: 20px 60px 60px;
	grid-template-rows: 25px repeat(5, 30px);
	position: fixed;
	font-size: 25px;
	text-align: center;
	border: 2px solid black;
}

#h1, #h2, #h3{
	border: 1px solid gray;
	font-size: 18px;
	
}


#keyBlock{

	display: grid;
	grid-template-rows: 25px;
	grid-template-columns: 100px 100px;
	position: fixed;
	font-size: 20px;
	text-align: center;
	color: gray;
top:50px;
}

#chosenKey {
	color:  orange;
}



#keyInfo {
	position: fixed;
	font-size:  20px;
	color: gray;
	height: 20px;
	width:  460px;
	text-align: center;
	transition:  0.2s;
}
#keySelect {
	position: fixed;
	font-size: 15px;

	color:  white;
	text-shadow: 1px 1px 1px black, 0 0 2px black;
	width: 210px;
	height: 20px;
	text-align: center;	
	background-color:  #c662ff;
	border: outset #9815b3 2px;
	border-radius:20px;
	transition:  0.3s;
}
 

#button{
    position:fixed;
    height:60px;
    width:300px;
    background-color:lightblue;
	font-size:50px;
	color:white;
	text-align:center;
	border: dashed gray 1px;
	transition: 0.1s;
	text-shadow: 1px 1px 1px black, 0 0 3px black;
}



#count{
    position:fixed;
    height:30px;
    width:60px;
    border: 2px solid;
    text-align:center;
    font-size: 26px;
    
}


#tm{
	height: 20px;
	width: 25px;
	border: 1px gray solid;
	font-size: 17px;
	position: fixed;
	text-align: center;
}

* {
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#record{
	position: fixed;
	top:10px;
	left: 10px;
	height: 20px;
	width: 300px;
	color: gray;
	font-size: 17px; 
}

#persec{
	position: fixed;
	border: 2px solid black;
	height: 20px;
	width: 140px;
	text-align: center;

}
