#button{
    position:fixed;
    height:60px;
    width:300px;
    background-color:lightblue;
	font-size:50px;
	color:white;
	text-align:center;
	border: dashed gray 1px;
	transition: 0.1s;
	
}

#count{
    position:fixed;
    height:30px;
    width:60px;
    border: 2px solid;
    text-align:center;
    font-size: 26px;
    
}


#tm{
	height: 20px;
	width: 25px;
	border: 1px gray solid;
	font-size: 17px;
	position: fixed;
	text-align: center;
}

* {
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#record{
	position: fixed;
	top:10px;
	left: 10px;
	height: 20px;
	width: 120px;
	color: gray;
	font-size: 17px; 
}

#persec{
	position: fixed;
	border: 2px solid black;
	height: 20px;
	width: 100px;
	text-align: center;

}